:root {
  --primary-color: #007AFF;
  --secondary-color: #041E42;
  --tertiary-color: #97948E;
  --gray: #DFDEDE;
  --white: #FFFFFF;
  --body-text-color: #000;
  --aux-black-color: #242424;
  --primary-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  --secondary-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.25);
  --primary-border: 1px solid #E4E7EB;
}

.hide,
.container__notificationExpand.hide,
.container__menuSmall.hide,
.aside_list {
  display: none;
}

ul.aside_list.hide {
  display: none;
}

.resizer {
  display: inline-block;
  width: 2px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  user-select: none;
}

.asideToggle {
  height: 43px;
  display: block;
}

.resizer:hover,
.resizer:active {
  background: #aaa;
}

.container__menu {
  display: flex;
  width: 600px;
  height: 400px;
  overflow: auto;
}

.header__rowsInTable {
  display: flex;
}

.rowsInTable {
  border-right: 1px solid var(--gray)
}


@font-face {
  font-family: 'Arial Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Regular'), url('ARIAL.woff') format('woff');
}


@font-face {
  font-family: 'Arial Narrow';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Narrow'), url('ARIALN.woff') format('woff');
}


@font-face {
  font-family: 'Arial Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Italic'), url('ARIALI 1.woff') format('woff');
}


@font-face {
  font-family: 'Arial Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Italic'), url('ARIALI.woff') format('woff');
}


@font-face {
  font-family: 'Arial Narrow Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Narrow Italic'), url('ARIALNI.woff') format('woff');
}


@font-face {
  font-family: 'Arial Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Medium'), url('ArialMdm.woff') format('woff');
}


@font-face {
  font-family: 'Arial Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Medium Italic'), url('ArialMdmItl.woff') format('woff');
}


@font-face {
  font-family: 'Arial Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Bold'), url('ARIALBD 1.woff') format('woff');
}


@font-face {
  font-family: 'Arial Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Bold'), url('ARIALBD.woff') format('woff');
}


@font-face {
  font-family: 'Arial Narrow Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Narrow Bold'), url('ARIALNB.woff') format('woff');
}


@font-face {
  font-family: 'Arial Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Bold Italic'), url('ARIALBI 1.woff') format('woff');
}


@font-face {
  font-family: 'Arial Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Bold Italic'), url('ARIALBI.woff') format('woff');
}


@font-face {
  font-family: 'Arial Narrow Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Narrow Bold Italic'), url('ARIALNBI.woff') format('woff');
}


@font-face {
  font-family: 'Arial Black';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Black'), url('ARIBLK.woff') format('woff');
}


@font-face {
  font-family: 'Arial Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Black Italic'), url('ARIALBLACKITALIC.woff') format('woff');
}


@font-face {
  font-family: 'Arial Light Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Light Regular'), url('ARIALLGT.woff') format('woff');
}


@font-face {
  font-family: 'Arial CE Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Arial CE Regular'), url('ArialCE.woff') format('woff');
}


@font-face {
  font-family: 'Arial CE MT Black Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Arial CE MT Black Regular'), url('ArialCEMTBlack.woff') format('woff');
}


@font-face {
  font-family: 'Arial CE Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Arial CE Bold'), url('arialceb.woff') format('woff');
}


@font-face {
  font-family: 'Arial Light Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial Light Italic'), url('ARIALLGTITL.woff') format('woff');
}


@font-face {
  font-family: 'Arial CE Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial CE Italic'), url('ArialCEItalic.woff') format('woff');
}


@font-face {
  font-family: 'Arial CE Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Arial CE Bold Italic'), url('ArialCEBoldItalic.woff') format('woff');
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

li::marker {
  content: '';
}

a {
  text-decoration: none;
}

body {
  font-size: 14px;
  color: var(--body-text-color);
  font-family: 'Arial Regular';
}

.--d-flex {
  display: flex;
}

.--align-center {
  align-items: center;
}

.--gap-10 {
  gap: 10px;
}

.mt-5 {
  margin-top: 2rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px 10px;
  background-color: var(--white);
  min-height: 100vh;
  box-shadow: var(--primary-shadow);
  border-radius: 20px;
  max-width: 350px;
  min-width: 300px;
  width: 100%;
  /* min-width: 180px;
  max-width: 350px; */
}

aside,
.container__notificationExpand,
.container__menuSmall {
  margin-top: 30px;
}

aside.collapse {
  min-width: 165px;
}

aside.collapse .head_aside_title {
  font-size: 20px;
}

aside.collapse .head_aside_logoCliente img {
  width: 120px;
}

aside.collapse .aside_container_list .aside_list_link {
  justify-content: center;
}

aside.collapse .aside_list_link_content>i.arrow {
  display: none;
}

aside.collapse .aside_container_list .aside_list_link span {
  display: none;
}

aside.collapse .aside_list_link.dropdown .aside_list_link_content {
  justify-content: center;
}

aside.collapse .aside_list_link.dropdown .aside_list_link_content i:last-child {
  display: none;
}

.head_aside {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 25px;

}

.head_aside_logoCliente img {
  width: 100%;
  max-width: 250px;
}

.head_aside_uaserName>b>span {
  font-weight: 100;
}

.head_aside_title {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 36px;
}

.aside_list_link {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}

.--menuActive {
  background: #007AFF20;
}

.collapse .aside_container_list .aside_list_link i:hover>.tooltip {
  display: block;
  transition: all .1s ease-in-out;

  @starting-style {
    scale: 0;
  }
}

.tooltip {
  width: 180px;
  min-height: 50px;
  align-content: center;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
  background: var(--secondary-color);
  position: absolute;
  color: var(--white);
  font-size: 14px;
  margin-top: -50px;
  margin-left: 18px;
  display: none;
  scale: 1;
}

.aside_list_link a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #000;
  cursor: pointer;
}

.aside_list_link:last-child {
  margin-bottom: 0;
}

.aside_list_link.dropdown {
  display: inline-block;
}

.dropdown__container__menu {
  max-height: 0;
  padding-left: 42px;
  overflow: hidden;
  transition: max-height .5s ease-in-out;
}

.dropdown__container__menu>li {
  padding: 5px 0;
}

.aside_container_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 150px);
  gap: 30px;
}

.aside_list {
  display: flex;
  flex-direction: column;
}

.aside_list_link_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dropdown,
.dropdown-Active {
  transition: .5s all ease-in-out;
}

.dropdown.dropdown-Active .aside_list_link_content>.arrow {
  transform: rotate(180deg);
  transition: .5s all ease-in-out;
}

.dropdown.dropdown-Active .dropdown__container__menu {
  max-height: 80px;
}

.dropdown .aside_list_link_content>.arrow {
  transition: .5s all ease-in-out;
}



.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 600px;
  width: 100%;
}

.__long {
  max-width: 1040px;
}

.--sm-modal {
  max-width: 400px;
}

.modal-content>button {
  padding: 10px;
  background-color: var(--white);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  border-radius: 20px;
  font-weight: 700;
  margin: 20px 0px;
  float: right;
  cursor: pointer;
}

.generalCondition,
.groupCondition {
  margin-top: 10px;
}

.modal-content-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 2px var(--primary-color);
}

.modal-content-head button {
  padding: 5px;
  background-color: var(--tertiary-color);
  color: var(--white);
  font-weight: 900;
  min-width: 25px;
  border-radius: 20px;
  float: right;
  cursor: pointer;
}

.containerFilterdiv {
  padding: 30px 20px;
  border-bottom: solid 2px var(--primary-color);
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.containerTBL {
  width: 800px;
  overflow: auto;
}

table {
  width: 100%;
  overflow: auto;
  height: 600px;

}

table>thead>tr>th {
  text-align: center;
  font-size: 10px;
  padding: 10px 15px;
  border-top: 1px solid #E4E7EB;
}

table>tbody>tr>td {
  text-align: center;
  padding: .2rem .3rem;
  border-bottom: 1px solid #E4E7EB;
  font-size: 12px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 1200px;
  height: 50px;
}

.pagination button {
  background-color: var(--white);
  cursor: pointer;
}

.pagination span {
  color: var(--body-text-color);
  font-size: 12px;
  padding: 0px 10px;
}

.pagination span b:first-child {
  background-color: #007AFF35;
  padding: 1px 4px;
  border: solid .5px var(--primary-color);
  border-radius: 4px;
}

.pagination span b:last-child {
  color: var(--primary-color);
}

.header__rowsInTable,
.header__rowsByAdd {
  padding: 10px 0px;
}

.rowsInTable__numSelected {
  padding: 0px 5px;
}

.header__rowsInTable button,
.container__options button {
  background-color: var(--white);
  color: var(--primary-color);
  margin: 0px 5px;
  cursor: pointer;
}

.header__rowsInTable button:hover,
.container__options button:hover {
  text-decoration: underline;
}

.rowsInTable,
.rowsByAdd {
  padding: 0 1em;
}

.container__options input {
  margin-right: 10px;
  border-bottom: solid 2px var(--primary-color);
}

.listColumnsActive,
.listColumnsAdd {
  padding: 0px 10px;
}

.containerFilterdiv select,
.containerFilterdiv input {
  min-width: 100px;
  padding: 5px 10px;
  border: solid 1px var(--primary-color);
  border-radius: 10px;
  margin: 5px;
}

.listColumnsActive button,
.listColumnsAdd button,
.conditionGroup button {
  padding: 0px 5px;
  margin: 5px;
  background-color: var(--primary-color);
  color: var(--white);
  font-weight: 900;
  border-radius: 5px;
  cursor: pointer;
}

.botonera {
  margin-bottom: 20px;
}

.tbl {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
}

.tbl th,
.tbl td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.tbl th {
  background-color: #f4f4f4;
  font-weight: bold;
}

.tbl tr:nth-child(even) {
  background-color: #f9f9f9;
}


.boton-columna {
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #ddd;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.container__body {
  width: 100%;
}

.container__render {
  position: relative;
  display: flex;
}

.container__bodyRender {
  margin-top: 280px;
  width: 100%;
  padding: 2rem;
}

.select_Fideicomiso {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 815px;
  height: 150px;
  border-bottom: 3px solid #FFF;
}

.Fideicomiso_select {
  width: 80%;
  background-color: transparent;
  color: var(--white);
  font-size: 36px;
  padding: 0px 30px;
}

.Fideicomiso_options {
  width: 815px;
  max-height: 200px;
  background-color: var(--white);
  border-radius: 20px;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: 26px;
  font-weight: 700;
}

.select_busqueda {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border: solid 1px var(--gray);
  border-radius: 10px;
  padding: 10px;
  color: var(--gray);
  gap: 20px;
}

.select_option {
  width: 100%;
  padding: 10px;
  color: var(--secondary-color);
}

.select_option:hover {
  background-color: var(--primary-color);
  color: var(--white);
}

.subHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  border-bottom: 1px solid #DFDEDE;
  align-self: stretch;
}

.infoSystem,
.changeColorModal {
  display: flex;
  align-items: center;
}

#userName {
  color: #007AFF;
}

.container__notificationExpand {
  display: flex;
  flex-direction: column;
  padding: 30px 10px;
  background-color: var(--white);
  border-radius: 20px;
  min-height: 95vh;
  box-shadow: var(--primary-shadow);
  max-width: 350px;
  min-width: 250px;
}

.container_calendar .react-calendar {
  border: none;
  width: 100%;
  max-width: 280px;
  margin: auto;
}

.calendar_list {
  padding: 1rem;
}

.calendar_list>li {
  margin-bottom: 5px;
}

.calendar_list>li:last-child {
  margin-bottom: 0;
}

.calendar_list>li::marker {
  content: '•';
}

.banner {
  height: 40px;
  background-color: var(--primary-color);
  color: var(--white);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list_notifications {
  margin: 2rem 0;
}

.notification {
  display: flex;
  gap: 1rem;
}

.container__menuSmall {
  width: 80px;
  gap: 0.3rem;
  padding: 0 .5rem;
  background-color: var(--primary-color);
  min-height: 130px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.bell>svg>g>path {
  fill: #fff;
}

.container__menuSmall .line {
  width: 85%;
  background-color: var(--white);
  height: 2px;
}

.bg-login {
  background-image: url(../img/bg-logIn.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

.bg-color {
  background: linear-gradient(0deg, rgba(151, 148, 142, .5) 0%, rgba(223, 222, 222, .5) 100%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.card-logIn {
  display: flex;
  background-color: var(--white);
  width: 500px;
  height: 80vh;
  border-radius: 20px;
  box-shadow: var(--shadow);
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  color: var(--secondary-color);
}

.logIn-form {
  display: flex;
  width: 350px;
  padding: 0px 50px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 40px;
}

.logo-cliente {
  height: 50px;
}

.logIn-form_Titular {
  color: var(--primary-color);
  font-size: 32px;
  font-style: italic;
}

.logIn-form_enc {
  color: var(--secondary-color);
  font-size: 20px;
}

.logIn-form_input {
  width: 100%;
  font-size: 18px;
  text-align: center;
  border-bottom: 3px solid var(--primary-color);
}

.logIn-form_input::placeholder {
  color: var(--secondary-color);
}

.logIn-form_input:focus {
  outline: none;
}

.logIn-form_input:focus::placeholder {
  color: var(--white);
  transition: all .2s ease-in;
}

.forgot-pass {
  font-size: 16px;
  text-decoration-line: underline;
  cursor: pointer;
}

.forgot-pass:hover {
  color: var(--primary-color);
  transition: all .3s ease-in-out;
}


.header {
  background: linear-gradient(0deg, rgba(6, 44, 98, 1) 0%, rgba(6, 44, 98, 0.8) 50%, rgba(6, 44, 98, 1) 100%);
  height: 275px;
  width: 100%;
  position: absolute;
  z-index: -1;
}

.header-img {
  width: 100%;
  height: 100%;
  background: url(../img/cabecera.gif);
  background-size: cover;
  background-position: center;
  opacity: .05;
  transition: all .3s ease-in;
}

.header:hover>.header-img {
  opacity: .15;
}

.bodyView {
  display: flex;
  padding: 25px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.bodyCard {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card {
  display: flex;
  width: 100%;
  padding: 20px 30px;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: var(--secondary-shadow);
  border-radius: 20px;
  border: 1px solid var(--gris);
  gap: 10px;
}

.card-enc {
  font-size: 16px;
}

.card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.--short {
  width: 50%;
  height: 350px;
  overflow: auto;
}

.cardHorizontal {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.selecFideicomiso {
  width: 100%;
  height: 100px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  align-self: stretch;
}

.--Fideiactive {
  background: rgba(0, 122, 255, 0.06);
}

.FideiSVG {
  width: 50px;
  height: 50px;
  padding: 10px;
  border: solid 1px var(--gray);
}

.FideiInfo {
  width: clamp(60%, 400px - 2rem, 80%);
  ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 5px;
}

.InfoNombre {
  font-size: 16px;
  font-weight: 700;
}

.InfoTipo {
  font-size: 12px;
  text-transform: uppercase;
}

.InfoStatus {
  font-size: 14px;
  display: flex;
  padding: 4px 26px;
  justify-content: center;
  align-items: center;
}

.--statusActivo {
  border-radius: 20px;
  border: 1px solid #00A100;
  background: #E4FFE4;
}

.--statusExtinto {
  border-radius: 20px;
  border: 1px solid #D32F2F;
  background: #FFDBDE;
}

.--statusPendiente {
  border-radius: 20px;
  border: 1px solid #FAC300;
  background: #FFF4E2;
}

.IngresoFidei {
  width: 30px;
}

.IngresoFidei:hover>svg {
  width: 40px;
}

.problema {
  height: 110px;
  padding: 20px;
  display: flex;
  align-items: flex-end;
  float: right;
  transition: all .2s ease-in;
}

.problema-card {
  color: var(--white);
  display: flex;
  padding: 10px 40px;
  justify-content: center;
  align-items: center;
  border-radius: 20px 20px 0px 0px;
  background: var(--primary-color);
  text-align: center;
}

.problema-img {
  width: 110px;
  height: 100px;
  background-image: url(../img/problem-head.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin-left: -40px;
  ;
}

.problema:hover>.problema-img {
  background-image: url(../img/problem-mascota.png);
  width: 150px;
  height: 110px;
  transition: all .2s ease-in;
}

.problema .problema-card span:last-child {
  display: none;
}

.problema:hover .problema-card span:last-child {
  display: block;
}

.problema:hover .problema-card span:first-child {
  display: none;
}

.footer {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 20px;
}

.--foot-login {
  justify-content: center;
  bottom: 0;
  position: absolute;
}

.copyright,
.powered,
.version {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  text-align: center;
}

.powered img {
  width: 20px;
}

.react-calendar__tile.react-calendar__tile--now.react-calendar__tile--active.react-calendar__tile--range.react-calendar__tile--rangeStart.react-calendar__tile--rangeEnd.react-calendar__tile--rangeBothEnds.react-calendar__month-view__days__day {
  background: #006edc;
}

button.react-calendar__tile--now {
  background: #f7f7f7;
}

button.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #e4e4e4;
}


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  padding: 8px;
  border-radius: 20px;
  color: var(--primary-color);
  border: 3px solid var(--primary-color);
  background: var(--white);
  font-weight: 700;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn:hover {
  background: #007bff50;
}
.--btn-sm{
  height: 25px;
}
.--btn-login {
  width: 250px;
  font-weight: 900;
}

.--btn-azul {
  color: var(--white);
  background: var(--primary-color);
  border: none;
}

.--btn-gris {
  color: var(--white);
  background: var(--secondary-color);
  border: none;
}

.--btn-azul:hover,
.--btn-gris:hover {
  background: var(--auxiliar-color);
}

.--btn-export {
  width: 200px;
  gap: 10px;
}

.container_tblView {
  width: 100%;
  max-width: 900px;
  margin: auto;
  padding: 10px 20px;
  border: 1px solid #E4E7EB;
  gap: 20px;
}

.container__tbl {
  width: 100%;
  overflow: auto;
  height: 600px;
}

.container_tbl_buttons {
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  align-self: stretch;
}

.container_tbl_buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: var(--white);
  color: var(--tertiary-color);
  font-weight: 700;
  padding: 20px;
  cursor: pointer;
}

.container__field {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.__Reg_indiv {
  width: 49%;
}

.container__field p {
  width: 40%;
  font-weight: 600;
  text-align: left;
}

.container__field span {
  width: 60%;
  font-weight: 400;
  padding: 0px 10px;
}

.container__field select {
  width: 60%;
  font-weight: 400;
  padding: 5px 10px;
  border: solid 2px var(--primary-color);
  border-radius: 10px;
}

.container__field select:focus {
  border: solid 2px var(--primary-color);
}

.container__field label {
  font-weight: 600;
  text-align: left;
}

.container__field input[type="radio"] {
  width: 25px;
  height: 25px;
  color: var(--primary-color);
}

.buttons_container {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
}

.buttons_container button {
  min-width: 200px;
  background-color: var(--white);
  color: var(--primary-color);
  border: solid 2px var(--primary-color);
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.buttons_container button:hover {
  background-color: #007AFF25;
}

div#frm_infoFideicomiso {
  width: 100%;
  padding: 0 1rem;
}

.container__load__file {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 40px 0;

}

.container__load__file p {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

#subirArchivoPDF {
  display: none;
}

.uploadComponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border: 2px dotted rgb(151 148 142 / 50%);
  min-height: 86px;
  padding: 40px 0;
  width: 100%;
  max-width: 500px;
  border-radius: 5px;
  margin: auto;
  cursor: pointer;
}

.uploadComponent.--uploadFile {
  border-color: var(--primary-color);
}

.uploadComponent.--uploadFile span {
  color: var(--primary-color);
}

.uploadComponent.--uploadFile svg path {
  stroke: var(--primary-color);
}

.uploadComponent span {
  font-size: 22px;
  color: rgba(151, 148, 142, 0.5);
  font-weight: 600;
}

#SendFile {
  max-width: 200px;
}


.itemContainer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--tertiary-color);
  border-left: none;
  border-right: none;
  padding: .6rem 0;
}

.download_btn {
  background: var(--white);
  display: flex;
  align-items: center;
  gap: 5px;
}

@media (max-width: 1500px) {
  .container_tblView {
    max-width: 850px;
  }
}

@media (max-width:1300px) {
  aside.collapse {
    min-width: 90px;
    max-width: 120px;
  }

  aside.collapse .head_aside_logoCliente img {
    width: 100%;
  }

  .container__menuSmall {
    width: 60px;
    min-height: 100px;
  }

  .bell>svg,
  .calendar>svg {
    width: 20px;
  }

  .container_tblView {
    max-width: 700px;
  }

  .InfoStatus {
    font-size: 12px;
  }
}

@media (min-width: 1850px) {
  .container_tblView {
    max-width: 1200px;
  }
}

@media (min-width: 2500px) {
  .container_tblView {
    max-width: 1850px;
  }
}

@media (max-width:750px) {
  .buttons_container button {
    min-width: 100px;
    margin: 0px 10px;
  }

  .card-logIn {
    width: 90%;
  }
}


@media (max-height:650px) {
  .logIn-form {
    padding: 0px 30px;
    gap: 30px;
  }

  .logo-cliente {
    height: 40px;
  }

  .logIn-form_Titular {
    font-size: 28px;
  }

  .logIn-form_enc {
    color: var(--secondary-color);
    font-size: 16px;
  }

  .logIn-form_input {
    font-size: 14px;
  }

}

@media (max-height:550px) {
  .logIn-form {
    padding: 0px 20px;
    gap: 20px;
  }

  .card-logIn {
    height: 90vh;
    margin-top: 5px;
  }

}

.container__content__ModalErr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0 1rem;
}

.msjError {
  font-weight: 600;
  font-size: 18px;
}

.detailError {
  font-size: 16px;
  text-align: center;
}

.---end-align {
  justify-content: end;
}

.--border-none {
  border: none;
}

.bannerTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding: 2rem;
}

.bannerTitle p {
  color: var(--white);
  font-style: italic;
  text-align: center;
  font-size: 16px;

}

.frm_reportar > .container__field{
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  gap: 1rem;
}
textarea{
  border: 2px solid var(--primary-color);
  border-radius: 10px;
}
select#selectProblema {
  width: 100%;
}
#uploadFileProblem{
  display: none;
}

#btn-upload-file-problem + span{
width: 100%;
}

.container__btn button{
 margin: auto;
}