.containerTBL{
    width: 800px;
    overflow: auto;
}
table{
    width: 100%;
    overflow: auto;
    height: 600px;

}
table > thead > tr > th{
    text-align: center;
}

table > tbody > tr > td{
    text-align: center;
    padding: .2rem .3rem;
border-bottom: 1px solid #E4E7EB;
font-size: 14px;
}